.aircleaner {
  padding-top: 166px;
  padding-bottom: 221px;

  background-color: #e4f4ff;

  background-image: url("../img/aircleaner-desktop.png");
  background-repeat: no-repeat;
  background-size: 548px auto;
  background-position: left calc(50% + 430px) bottom;

  @include retina {
    background-image: url("../img/aircleaner-desktop@2x.png");
  }

  &__container {
    @include container;

    max-width: 1312px;
  }

  &__note {
    margin: 0;
    margin-bottom: 23px;

    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    width: 612px;

    font-weight: 300;
    font-size: 56px;
    line-height: 64px;
  }

  &__name {
    margin: 0;
    margin-bottom: 55px;

    font-size: 20px;
    line-height: 28px;
  }

  &__desc {
    margin: 0;
    margin-bottom: 32px;
    width: 448px;

    font-size: 16px;
    line-height: 26px;
  }

  &__link {
    width: 210px;
    padding: 15px 20px;
  }

  &__link span {
    display: inline-block;
    margin-bottom: -1px;
    margin-left: 13px;
    width: 6px;
    height: 11px;

    background-image: url("../img/icon_arrow-right.svg");
  }
}

@media(max-width: 1299px) {
  .aircleaner {
    padding-top: 159px;
    padding-bottom: 159px;

    background-image: url("../img/aircleaner-medium.png");
    background-size: 413px auto;
    background-position: left calc(50% + 240px) bottom;

    @include retina {
      background-image: url("../img/aircleaner-medium@2x.png");
    }

    &__container {
      padding-left: 57px;
      padding-right: 57px;
    }

    &__note {
      margin-bottom: 20px;
    }

    &__title {
      margin-bottom: 18px;
      width: 511px;
    }

    &__name {
      margin-bottom: 62px;
    }
  }
}

@include tablet {
  .aircleaner {
    padding-top: 43px;
    padding-bottom: 404px;

    background-size: 407px auto;
    background-position: left calc(50% + 8px) bottom -145px;

    &__container {
      padding-left: 57px;
      padding-right: 57px;
    }

    &__note {
      text-align: center;
    }

    &__title {
      margin: 0 auto 22px;
      width: auto;
      max-width: 646px;

      text-align: center;
    }

    &__name {
      margin-bottom: 52px;

      text-align: center;
    }

    &__desc {
      width: auto;
      max-width: 586px;
      margin: 0 auto 20px;

      text-align: center;
    }

    &__link {
      margin: 0 auto;
    }
  }
}

@include mobile-l {
  .aircleaner {
    padding-top: 29px;
    padding-bottom: 328px;

    background-size: 329px auto;
    background-position: left calc(50% + 12px) bottom -110px;

    &__container {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__note {
      margin-bottom: 15px;
    }

    &__title {
      margin: 0 auto 15px;
      max-width: 440px;

      font-size: 40px;
      line-height: 48px;
    }

    &__name {
      margin-bottom: 38px;
    }

    &__desc {
      max-width: 444px;
      margin: 0 auto 25px;
    }
  }
}

@include mobile {
  .aircleaner {
    padding-top: 21px;
    padding-bottom: 302px;

    background-size: 265px auto;
    background-position: left 50% bottom -70px;

    &__container {
      padding-left: 16px;
      padding-right: 16px;
    }

    &__note {
      margin-bottom: 11px;
      max-width: 288px;

      line-height: 20px;
    }

    &__title {
      margin: 0 auto 11px;
      max-width: 288px;

      font-size: 32px;
      line-height: 40px;
    }

    &__name {
      margin-bottom: 36px;

      font-size: 16px;
      line-height: 28px;
    }

    &__desc {
      max-width: 288px;
      margin: 0 auto 19px;

      font-size: 14px;
      line-height: 22px;
    }
  }
}
