.x-treme-banner {
  position: relative;

  padding-top: 166px;
  min-height: 815px;

  background-image: url('../img/x-treme-bg.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__container {
    @include container;

    max-width: 1312px;
  }

  &__note {
    margin: 0;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.5;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    width: 704px;

    font-weight: 300;
    font-size: 56px;
    line-height: 64px;
    color: #ffffff;
  }

  &__name {
    margin: 0;
    margin-bottom: 55px;

    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
  }

  &__desc {
    margin: 0;
    margin-bottom: 25px;
    max-width: 448px;

    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
  }

  &__link {
    width: 210px;
    padding: 15px 20px;
  }

  &__link span {
    display: inline-block;
    margin-bottom: -1px;
    margin-left: 13px;
    width: 6px;
    height: 11px;

    background-image: url("../img/icon_arrow-right.svg");
  }

  &__image {
    position: absolute;
    top: 230px;
    left: calc(50% + 73px);

    max-width: 695px;
  }
}

@media (max-width: 1630px) {
  .x-treme-banner {
    &__image {
      max-width: 42.6%;
    }
  }
}

@media(max-width: 1299px) {
  .x-treme-banner {
    padding-top: 182px;

    &__container {
      padding-left: 57px;
      padding-right: 57px;
    }

    &__title {
      max-width: 427px;
    }

    &__desc {
      max-width: 385px;
    }

    &__image {
      top: 336px;

      max-width: 43%;
      left: calc(50% + 17px);
    }
  }
}

@include tablet {
  .x-treme-banner {
    padding-top: 75px;

    &__note {
      text-align: center;
    }

    &__title {
      margin: 0 auto 22px;
      width: auto;
      max-width: 646px;

      text-align: center;
    }

    &__name {
      text-align: center;
    }

    &__desc {
      width: auto;
      max-width: 485px;
      margin: 0 auto 22px;

      text-align: center;
    }

    &__link {
      margin: 0 auto 97px;
    }

    &__image {
      position: static;
      margin: 0 auto;

      max-width: 442px;
    }
  }
}

@media (max-width: 950px) {
  .x-treme-banner {
    min-height: 840px;
  }
}

@include mobile-l {
  .x-treme-banner {
    padding-top: 40px;
    min-height: 700px;

    &__container {
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
    }

    &__note {
      margin-bottom: 15px;

      order: 1;
    }

    &__title {
      margin: 0 auto 24px;
      max-width: 440px;

      font-size: 40px;
      line-height: 48px;

      order: 2;
    }

    &__name {
      margin-bottom: 80px;

      order: 3;
    }

    &__desc {
      max-width: 400px;
      margin: 0 auto 32px;

      order: 5;
    }

    &__link {
      margin-bottom: 0;
      order: 6;
    }

    &__image {
      max-width: 310px;
      margin-bottom: 40px;

      order: 4;
    }
  }
}

@media (max-width: 480px) {
  .x-treme-banner {
    min-height: 722px;
  }
}

@include mobile {
  .x-treme-banner {
    padding-top: 21px;

    &__container {
      padding-left: 16px;
      padding-right: 16px;
    }

    &__note {
      margin-bottom: 13px;

      line-height: 20px;
    }

    &__title {
      margin: 0 auto 22px;
      max-width: 288px;

      font-size: 32px;
      line-height: 40px;
    }

    &__name {
      margin-bottom: 50px;

      font-size: 16px;
      line-height: 28px;
    }

    &__desc {
      max-width: 288px;
      margin: 0 auto 32px;

      font-size: 14px;
      line-height: 22px;
    }

    &__image {
      max-width: 246px;
      margin-bottom: 53px;
    }
  }
}
